<!DOCTYPE html>
<html>
<head>
Add a League
</head>
<body>
  <div>
    <form name="addLeague" method="post" action="/leagues">
    League name:<input type="text" name="name"></br>
    Sport:<input type="text" name="sport"></br>
    Organization:<input type="text" name="organization"></br>
    <input type="submit" value="Submit">
  </form>
  </div>
</body>
</html>
