<!DOCTYPE html>
<html>
<head>
Add an Organisation
</head>
<body>
  <div>
    <form name="addUser" method="post" action="/users">
    Enter team 1:<input type="text" name="team_1"></br>
    Enter team 2:<input type="text" name="team_2"></br>
    Enter the date:<input type="text" name="date"></br>
    Enter the sport:<input type="text" name="sport"></br>
    Enter the location:<input type="text" name="location"></br>
    Enter the league:<input type="text" name="league"></br>
    What did team 1 score?:<input type="text" name="score_1"></br>
    What did team 2 score?:<input type="text" name="score_2"></br>
    <input type="submit" value="Submit">
  </form>
  </div>
</body>
</html>
