<!DOCTYPE html>
<html>
<head>
Add an Organisation
</head>
<body>
  <div>
    <form name="addOrg" method="post" action="/organisations">
    Organisation name:<input type="text" name="orgName"></br>
    <input type="submit" value="Submit">
  </form>
  </div>
</body>
</html>
