<!DOCTYPE html>
<html>
<head>
Add a Team
</head>
<body>
  <div>
    <form name="addTeam" method="post" action="/teams">
    Team name:<input type="text" name="name"></br>
    Sport:<input type="text" name="sport"></br>
    League:<input type="text" name="league"></br>
    Number of wins:<input type="text" name="wins"></br>
    Number of losses:<input type="text" name="losses"></br>
    <input type="submit" value="Submit">
  </form>
  </div>
</body>
</html>
