<!DOCTYPE html>
<html>
<head>
Add a User
</head>
<body>
  <div>
    <form name="addUser" method="post" action="/users">
    Email:<input type="text" name="email"></br>
    Team:<input type="text" name="team"></br>
    Type of user:<input type="text" name="type"></br>
    Password:<input type="text" name="password"></br>
    <input type="submit" value="Submit">
  </form>
  </div>
</body>
</html>
