<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/login.css" media="screen" />
  <title>Login Page</title>
</head>
<body>
  <h1><div class="container text-center">Login Page</div></h1>


  <div class="container container-table">
    <div class="row vertical-center-row">
      <form type="POST">
        <div id="login" class="text-center col-md-4 col-md-offset-4 img-rounded" style="border: 2px solid black; margin: 5px">
          <h3>Login</h3>
            <label><b>Username: </b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            </br> </br>

            <label><b>Password: </b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            </br> </br>

            <button type="submit">Login</button>
        </div>
    </form>

    <form type="POST">
        <div id="signup" class="text-center col-md-4 col-md-offset-4 img-rounded" style="border: 2px solid black; margin: 5px">
          <h3>Sign up</h3>
            <label><b>Username: </b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            </br> </br>

            <label><b>Email: </b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
            </br> </br>

            <label><b>Password: </b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            </br> </br>

            <button type="submit">Sign Up</button>
        </div>
    </form>
    </div>
  </div>

</body>
</html>
